<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sidebar" class='active' fragment="sidebar">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">


                <li class='sidebar-title'>Cliente Estelar</li>



                <li class="sidebar-item active ">
                    <a href="principaladmin.html" class='sidebar-link'>
                        <i data-feather="home" width="20"></i>
                        <span>Gestion Cuenta</span>
                    </a>

                </li>

                
            
            <!-- 
                <li class='sidebar-title'>Proximamente</li>



                <li class="sidebar-item ">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="file-text" width="20"></i>
                        <span>Inventario</span>
                    </a>
                </li>




                <li class="sidebar-item  ">
                    <a href="form-layout.html" class='sidebar-link'>
                        <i data-feather="layout" width="20"></i>
                        <span>Gestion de Citas</span>
                    </a>

                </li>

            -->
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>


</body>
</html>